/* ! Reset styles
_____________________________________________________________ */

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

button {
    font-family: inherit;
    cursor: pointer;
}

/* ! Base Styles
_____________________________________________________________ */

body {
    font-family: 'Nunito Sans', sans-serif;
    background: #EBEBEB;
}

.wrapper {
    max-width: 1230px;
    margin: 0 auto;
    padding: 0 15px;
}

/* ! Header 
_____________________________________________________________ */

.header {
    display: flex;
    align-items: center;
    padding: 20px 0;
}

.header__menu--btn {
    display: none;
    border: none;
    outline: none;
    cursor: pointer;
}

.header__countainer--inner {
    width: 165px;
}

.header__nav {
    display: flex;
    justify-content: center;
    flex-grow: 1;
    margin: 0 15px;
}

.header__link {
    margin: 0 10px;
    font-size: 16px;
    line-height: 150%;
    color: #2B2B2B;
}

.header__logo {
    width: 80px;
    height: 80px;
    background: #C4C4C4;
}

.header__button {
    padding: 11px 15px;
    background: #423F3E;
    border-radius: 5px;
    font-weight: bold;
    font-size: 18px;
    line-height: 28px;
    color: #FFFFFF;
    outline: none;
}

/* ! Hero 
_____________________________________________________________ */
.hero {
    padding: 200px 0;
}

.hero__content {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.hero__title {
    margin-bottom: 1em;
    font-weight: bold;
    font-size: 64px;
    line-height: 120%;
    color: #2B2B2B;
}

.hero__subtitle {
    font-weight: bold;
    font-size: 24px;
    line-height: 120%;
    color: #2B2B2B;
}

/* ! About 
_____________________________________________________________ */

.about {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 70px 0;
}

.about__image {
    width: 400px;
    height: 400px;
    object-fit: cover;
    margin-left: 10px;
}

.about__content {
    width: 60%;
    
}

.about__title {
    margin-bottom: 1em;
    font-weight: bold;
    font-size: 53px;
    line-height: 120%;
    color: #2B2B2B;
}

.about__article--preview {
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    color: #2B2B2B;
}

.about__article--link {
    font-weight: bold;
    font-size: 18px;
    line-height: 28px;
    color: #2B2B2B;
}

.about__articles {
    display: flex;
}

.about__article {
    width: 260px;
    margin-right: 20px;
}
